---
---

header
  display: flex
  flex-direction: row-reverse
  justify-content: space-between
  align-items: flex-start

h1 
  font-size: 105%
  margin-top: 20px
  margin-bottom: 20px

h2 
  font-size: 102%
  margin-top: 20px
  margin-bottom: 20px

.logo
  opacity: 0.3
  filter: saturate(0)
  height: 2cm
  transition: 1s

.logo:hover
  opacity: 0.75
  filter: saturate(100%)
  height: 2cm

.condition
  display: inline-flex

.condition:not(last-child)
  margin-right: 1cm

.ispan
  border-bottom: 1px solid gray
  min-width: 1cm
  text-align: center
  color: midnightblue
  font-weight: bold
  font-family: cursive
  font-size: 150%

.condition span
  padding-right: 1mm
  padding-left: 1mm
