table {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

tr {
	height: 8mm;
}
tbody tr:not(:first-child) {
	border-top: 0.5px solid hsl(0, 0%, 70%);
}

td, th{
	padding-left: 6px;
	padding-right: 6px;
	font-weight: normal;
}

td.number, td.result, th {
	text-align: center;
}

td.result {
	background: hsl(0, 0%, 95%);
}

thead {
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}
tbody {
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}
