<div class=overlay id=aide>
	<div>
		<div class=actionrow> <a href='./' >X</a> </div>
		<h2>Entrée de données</h2>
		<ul>
			<li> Entrer les données en cliquant sur les cellules du tableau;</li>
			<li> Il est possible de naviguer entre les cellules avec les
				touches <em>Tab</em> et <em>Maj-Tab</em>; </li>
			<li> Les cellules grises sont des valeurs calculées automatiquement;</li>
		</ul>
		<h2>Mesure du volume dérecruté</h2>

		<p>
			Le réglage des paramètres de ventilation utilisé pour la
			manouevre se fait en faisant un changement de mode ventilatoire.
			Cela permet de revenir rapidement aux paramètres de ventilaiton
			<em>normaux</em>, au moyen de la fonction <em>mode précédent</em>.
		</p>
		<p>
			Par exemple, si le patient est ventilé en VAC-Volumétrique, on
			peut effectuel la manoeuvre sur un changement vers de la
			VOI-Volumétrique. Cela permettra de revenir vers les paramètres
			initiaux de VAC-volumétrique une fois la manoeuvre effectuée.
		</p>

		<ol>

			<li>
				Ajuster le plus haut niveau de PEP à être essayé (par exemple
				15 hPa);
			</li>
			<li>
					Procéder à une manoeuvre de recrutement;
			</li>
			<li>
					Changer le mode de ventilation du patient en réglant pour le
					nouveau mode les paramètres suivants:
					<ul>
						<li>PEP basse à tester (par exemple 5 hPa)</li>
						<li>Plus petite fréquence possible (par exemple 5 /min),
							dans le but de créer une expiration prolongée,</li>
						<li>
								Temps inspi. relativement court (par exemple 1 s ou
								moins), pour ne pas empièter sur le temps expi.
						</li>
					</ul>
			</li>
			<li>
				Activer les paramètres et surveiller le premier <em>Volume
					courant expiré</em>
			</li>
			<li>
				Apprès la première insuflation, ramener le ventilateur à des
				paramètres <em>normaux</em>, au moyen de la fonction <em>mode
				précédent</em>.
			</li>
		</ol>
	</div>
</div>
