<div class=overlay id=apropos >
	<div> 
		<div class=actionrow> <a href='./' >X</a> </div>
		<h1>The PEEP Reporter</h1>
			Par <a rel="cc:attributionURL dct:creator"
				property="cc:attributionName" href="https://progrt.github.io/">@ProgRT</a> <br>
			Licence: {% include byncsa.html %}
<p>
Ratio R/I calculé selon la formule décrite par <a href='https://www.atsjournals.org/doi/10.1164/rccm.201902-0334OC'>Cheng et col.</a>.  <br/>
Calculateur librement inspiré du <a href='https://rtmaven.com/'>travail de Thomas Piraino RRT</a>
</p>
	</div>
</div>
